
body{font-family:Arial,sans-serif;text-align:center;padding:30px}
.btn,button{padding:12px 20px;margin:8px;display:inline-block}
#scoreboard{font-size:80px;font-weight:bold;margin-top:40px}
.possessionButton {font-size: 4rem;min-width: 150px;min-height: 100px;}
#clockToggle {font-size: 2rem;min-width: 250px;min-height: 80px;}